.usage {
    background: var(--gray-3);
    border-radius: 2px;
    width: 115px;
    height: 15px;
    transform-origin: bottom left;
    display: inline-block;
    transform: scaleX(0);

    animation-name: base;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes base {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.usage-increment {

    background: linear-gradient(45deg, var(--pink-9) 20%, var(--plum-10) 90%);
    border-radius: 2px;
    width: 35px;
    height: 15px;
    transform-origin: bottom left;
    display: inline-block;
    transform: scaleX(0);
    position: absolute;

    animation-name: increase;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.metric {
    animation-name: metric-show-up;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    filter: opacity(0);

    display: inline-block;
}

.metric-increment {
    animation-name: metric-increment-show-up;
    animation-duration: 0.8s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    filter: opacity(0);
    display: inline-block;
}

@keyframes increase {
    from {
        transform: scaleX(0)
    }
    to {
        transform: scaleX(1)
    }
}

@keyframes metric-show-up {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

@keyframes metric-increment-show-up {
    from {
        filter: opacity(0);
        transform: translateX(40px);
    }
    to {
         filter: opacity(1);
        transform: translateX(40px);
    }
}

.attention-words--sky {
    padding: var(--space-1);
    border-radius: var(--radius-2);
    background: linear-gradient(98deg, var(--cyan-5) 10%, var(--sky-9) 90%);
}

.attention-words--orange {
    padding: var(--space-1);
    border-radius: var(--radius-2);
    background: linear-gradient(98deg, var(--orange-4) 10%, var(--red-5) 90%);
}

.attention-words--lilo {
    padding: var(--space-1);
    border-radius: var(--radius-2);
    background: linear-gradient(98deg, var(--pink-3) 10%, var(--plum-3) 90%);
}

.attention-words--humble {
    padding: var(--space-1);
    border-radius: var(--radius-2);
    background: linear-gradient(98deg, var(--gray-3) 10%, var(--gray-4) 90%);
}

.car {
    width: 3px;
    height: 3px;
    position: absolute;
    background-color: var(--gray-12);
}

.car:nth-of-type(2n) {
    background-color: var(--sky-8);
}
.car:nth-of-type(3n) {
    background-color: var(--violet-10);
}

