.orbiting-image {
  offset-distance: calc(var(--start) * 100%);
  animation: orbit 5s linear infinite;
  transform: rotate(calc(-90deg - 360deg * var(--start)));
  offset-path: circle(30px at center);
}

@keyframes orbit {
    to {
        offset-distance: calc(var(--start) * 100% + 100%);  
        transform: rotate(calc(-360deg - 90deg - var(--start) * 360deg))
    }
}