.menu {
    position: fixed;
    width: 100vw;
    height: 40px;
    bottom: 0;
    overflow: visible;
}

/* .bd {
    backdrop-filter: blur(40px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
} */

.indicator {
    position: absolute;
    right: 10px;
}

.content {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    transition: transform 0.2s;
    transform: translateY(50vh);
    transform-origin: top;
    background-color: var(--color-panel-solid);
    border-radius: var(--radius-3);
}

.content--open {
    transform: translateY(0vh);
}

@media (min-width: 1024px) {
    .menu {
        display: none;
    }
}


.link {
    all: unset;
	outline: none;
	text-decoration: none;
	user-select: none;
    display: block;
    padding: var(--space-1);
}