
.accent {
    background: -webkit-linear-gradient(75deg, var(--violet-10) 20%, var(--plum-10) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: var(--space-2);
    animation: 
    3s linear 1s infinite normal none running shines;
}



@keyframes shines {
    from {
        filter: saturate(0.9)
    }
    50% {
        filter: saturate(1.7)
    }
    to {
        filter: saturate(0.9)
    }
}