@import "@radix-ui/themes/styles.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    all: unset;
	outline: none;
	text-decoration: none;
	user-select: none;
    display: block;
    cursor: pointer;
    :hover {
        color: var(--cyan-11);
    }
}

:root {
    --custom-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.06);
}

.radix-themes {
    --default-font-family: var(--font-golos);
}

.smartmachines-copy-button {
    border-radius: var(--radius-4);
    animation: 2s linear 2s infinite normal none running pulse;
    p {
        background: -webkit-linear-gradient(240deg, var(--plum-9) 10%, var(--blue-10) 90%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: 
        3s linear 1s infinite normal none running shines;
        font-weight: 600;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    2% {
        transform: scale(1.02);
    }
    6% {
        transform: scale(1);
    }
    8% {
        transform: scale(1.04);
    }
    12% {
        transform: scale(1);
    }
}

@keyframes shines {
    from {
        filter: saturate(0.6)
    }
    50% {
        filter: saturate(2)
    }
    to {
        filter: saturate(0.6)
    }
}