@import "@radix-ui/themes/styles.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    all: unset;
	outline: none;
	text-decoration: none;
	user-select: none;
    display: block;
    cursor: pointer;
    :hover {
        color: var(--cyan-11);
    }
}

:root {
    --custom-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.06);
}

.radix-themes {
    --default-font-family: var(--font-golos);
}

.smartmachines-copy-button {
    border-radius: var(--radius-4);
    animation: 2s linear 2s infinite normal none running pulse;
    p {
        background: -webkit-linear-gradient(240deg, var(--plum-9) 10%, var(--blue-10) 90%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: 
        3s linear 1s infinite normal none running shines;
        font-weight: 600;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    2% {
        transform: scale(1.02);
    }
    6% {
        transform: scale(1);
    }
    8% {
        transform: scale(1.04);
    }
    12% {
        transform: scale(1);
    }
}

@keyframes shines {
    from {
        filter: saturate(0.6)
    }
    50% {
        filter: saturate(2)
    }
    to {
        filter: saturate(0.6)
    }
}

.humble {
    color: var(--mauve-4);
}

.farfetch {
    background: -webkit-linear-gradient(20deg, var(--purple-10) -40%, var(--sky-11) 120%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.elevated-card {
    padding: var(--space-3);
    border-radius: var(--radius-4);
    background-color: var(--color-panel);
    box-shadow: 0 0px 12px 0px var(--black-a1)
}

.dashed-group {
    padding: var(--space-4);
    border-radius: var(--radius-4);
    border: 0.5px solid var(--mauve-5);
}

.parameter-box {
    border-radius: var(--radius-2);
    background-color: var(--mauve-1);
    padding-left: var(--space-1);
    padding-right: var(--space-1);
    border: 1px solid var(--mauve-6);
    font-size: var(--font-size-1);
    color: var(--mauve-12);
}

.description-box {
    border-radius: var(--radius-2);
    background-color: var(--mauve-1);
    border: 1px solid var(--mauve-4);
    font-size: var(--font-size-1);
    color: var(--mauve-12);
}

.magic-accent {
    box-shadow: 0 0px 12px 0px var(--black-a1);
    border-radius: var(--radius-5);
    padding: var(--space-1)  var(--space-2);
}

.major-effect {
    top: 0;
    left: 0;
    background-color: var(--surface-1);
    border-radius: var(--radius-4);
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translate(500px, 250px);
    backdrop-filter: blur(1px);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.services-group-root {
    display: flex;
	border-radius: var(--radius-2);
	box-shadow: 0 2px 14px var(--black-a1);
    margin: auto;
    width: fit-content;
}

.services-group-item {
    all: unset;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
    padding: var(--space-3) var(--space-5);
	&:hover {
		background-color: var(--accent-1);
	}
	&[data-state="on"] {
		background-color: var(--accent-2);
	}
}